#main-nav {
    height: 5rem;
}

#map {
    margin-top: 5rem;
    height: 100%;
    width: 75%;
  }

#side-menu {

}



  /* Optional: Makes the sample page fill the window. */
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }